name: sync list

on:
  push:
    branches: 
      - 'main'
      - 'master'
  pull_request:
    branches:
      - 'main'
      - 'master'
  
jobs:
  commit:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
      with:
       ref: master
    - name: commit
      run: |
        git config --global user.email 2865467965@qq.com
        git config --global user.name zknb-666
        rm -rf pc.txt
        rm -rf pe.txt
        wget https://raw.githubusercontent.com/zknb-666/Random-ACG-API/main/pc.txt
        wget https://raw.githubusercontent.com/zknb-666/Random-ACG-API/main/pe.txt
        git add .
        git commit -m "更新列表"
        git push
